<% var errors = lineitem.errors() %>
<div <%= lineitem %> <% if (lineitem.id) { %> id="<%= lineitem.id %>" <% } %> class="lineitem parent <%= lineitem.type %> ui-corner-all <%= lineitem.subType %>" data-type="<%= lineitem.type %>" data-subType="<%= lineitem.subType %>">
    <span class="handle button hide-in-tabs"><%= lineitem.displayName %></span>
    <span class="ui-icon ui-icon-grip-dotted-vertical show-in-tabs"></span>
    <span class="ui-icon ui-icon-trash show-in-tabs"></span>
    <span class="ui-icon ui-icon-copy copy show-in-tabs" title="copy"></span>
    <%= $.View("//surveybuilder/views/lineitem/_move") %>
    <h5 class="header show-in-tabs toggle"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span><%= lineitem.displayName %></h5>
    <form class="lineitem-form show-in-tabs" onsubmit="return false;">
    	<fieldset>
	        <input type="hidden" name="displayName" value="<%= lineitem.displayName %>" />
	        <input type="hidden" name="type" value="<%= lineitem.type %>" />
	        <input type="hidden" name="subType" value="<%= lineitem.subType %>" />
	        <input type="hidden" name="parentId" value="<%= lineitem.parentId %>" />
	        <input type="hidden" name="parentType" value="<%= lineitem.parentType %>" />
	        <%= $.View('//surveybuilder/views/common/textarea', 
						{name:'questionText',
						value:lineitem.questionText, 
						title:'The text to display for this question', 
						label:'Question Text', 
						errors:errors, 
						hideable:false}) %>
	        <%= $.View('//surveybuilder/views/common/textInput', 
						{name:'answerProperty',
						value:lineitem.answerProperty, 
						title:'The RDF predicate for all Answers under this Question.', 
						label:'RDF Answer Property', 
						errors:errors, 
						hideable:true}) %>
			<div class="clearfix attribute hideable">
				<label title="Display format for this question's answers." for="">Display Format</label>
				<div class="input">
					<select name="displayType">
						<option value="list" <% if (lineitem.displayType && (lineitem.displayType === '' || lineitem.displayType === 'list')) { %> selected="selected" <% } %>>list</option>
                        <option value="dropDown" <% if (lineitem.displayType && lineitem.displayType === 'dropDown') { %> selected="selected" <% } %>>drop down</option>
					</select>
				</div>
			</div>
        </fieldset>
    </form>
    <div class="content-group hideable show-in-tabs">
		<h5 class="content-label toggle"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>Answers:</h5>
		<span class="quick-add">
	        <span class="ui-icon ui-icon-circle-plus drop-down"></span>
	        <div class="drop-down-list">
	    		<a href="#" class="btn small" data-type="Answer" data-subType="LabelAnswer">Fixed Choice</a>
	    		<a href="#" class="delete-line btn small" data-type="Answer" data-subType="TextAnswer">Free Text</a>
	    	</div>
    	</span>
		<div class="empty-message hideable <% if (lineitem.childId) { %>stay-hidden<% } %>">To add Answers to your question, drag and drop them here </div>
		 <div class="answers content hideable ui-corner-all <% if (lineitem.childId) { %>hideBorder<% } %>">
		    <% if (lineitem.childId) {%>
		        <% var childLineitem = Lineitem.findOne({id:lineitem.childId}) %>
		        <%= $.View('//surveybuilder/views/lineitem/show', {lineitem:childLineitem}) %>
		    <% } %>
		 </div>
     </div>
</div>
