<div <%= lineitem %> <% if (lineitem.id) { %> id="<%= lineitem.id %>" <% } %> class="lineitem parent grid <%= lineitem.type %> ui-corner-all <%= lineitem.subType %>" data-type="<%= lineitem.type %>" data-subType="<%= lineitem.subType %>">
    <span class="handle sexybutton sexysimple sexysilver hide-in-tabs"><%= lineitem.displayName %></span>
    <span class="ui-icon ui-icon-triangle-1-s"></span>
    <span class="ui-icon ui-icon-grip-dotted-vertical"></span>
    <%= $.View("//surveybuilder/views/lineitem/_move") %>
    <span class="ui-icon ui-icon-trash"></span>
    
    <div class="header hideable"><%= lineitem.displayName %></div>
    <form class="lineitem-form" onsubmit="return false;">
        <input type="hidden" name="displayName" value="<%= lineitem.displayName %>" />
        <input type="hidden" name="type" value="<%= lineitem.type %>" />
        <input type="hidden" name="subType" value="<%= lineitem.subType %>" />
        <input type="hidden" name="parentId" value="<%= lineitem.parentId %>" />
        <input type="hidden" name="parentType" value="<%= lineitem.parentType %>" />
        <table>
            <tr>
                <td class="td-label" title="The text to display for this question">Question Text:<span class="marker" title="required">*</span></td>
                <td class="td-input"><textarea name="questionText" class="ui-corner-all"><%= lineitem.questionText %></textarea></td>
            </tr>
        </table>
    </form>
    <div class="content-group hideable">
    	<span class="ui-icon ui-icon-triangle-1-s collapse"></span>
		<div class="content-label">Sub Questions:<span class="ui-icon ui-icon-circle-plus quick-add-subquestion" title="Add a new Sub Question"></span></div>
		<div class="sub-questions content hideable ui-corner-all <% if (lineitem.childQuestion) { %>hideBorder<% } %>">
			<% if (lineitem.childQuestion) {%>
			    <% var childLineitem = Lineitem.findOne({id:lineitem.childQuestion}) %>
			    <%= $.View('//surveybuilder/views/lineitem/show', {lineitem:childLineitem}) %>
			<% } %>
		</div>
	</div>
	<div class="content-group hideable">
		<span class="ui-icon ui-icon-triangle-1-s collapse"></span>
		<div class="content-label">Common Answers:<span class="ui-icon ui-icon-circle-plus quick-add-gridanswer" title="Add a new Common Answer"></span></div>
		<div class="grid-answers content hideable ui-corner-all <% if (lineitem.childAnswer) { %>hideBorder<% } %>">
		    <% if (lineitem.childAnswer) {%>
				    <% var childLineitem = Lineitem.findOne({id:lineitem.childAnswer}) %>
				    <%= $.View('//surveybuilder/views/lineitem/show', {lineitem:childLineitem}) %>
				<% } %>
		</div>
    </div>
</div>
