<div class="clearfix attribute <% if (errors && errors[name]) { %>error<%}%> <% if (hideable) { %>hideable<%}%>">
	<label for="" title="<%= title %>"><%= label %></label>
	<div class="input">
		<input name="<%= name %>" value="<%= value %>" class="xxlarge" size="60" type="text">
		<% if (errors && errors[name]) { %>
			<%= $.View('//surveybuilder/views/error/validation', {message:errors[name][0]}) %>
		<% } %>
	</div>
</div>