<div class="logicComponentType <%= logicComponentType.type %> <%= logicComponentType.subType %> ui-corner-all" data-type="<%= logicComponentType.type %>" data-subType="<%= logicComponentType.subType %>">
    <span class="handle button hide-in-tabs"><%= logicComponentType.displayName %></span>
    <form>
    	<input type="hidden" name="displayName" value="<%= logicComponentType.displayName %>" />
        <input type="hidden" name="type" value="<%= logicComponentType.type %>" />
        <input type="hidden" name="subType" value="<%= logicComponentType.subType %>" />
    </form>
</div>
