<% if (operandDatatype === "survey:predicate"){ %>
	<% var options = surveyBuilder.PREDICATES %>
	<select name="<%= name %>" class="td-input ui-corner-all predicate-list <%= name %>">
		<option value=null <% if (!operand) { %> selected="selected" <% } %>></option>
		<% for(var i=0; i < options.length; i += 1) { %>
			<option value="<%= options[i] %>" <% if (operand && operand === options[i]) { %> selected="selected" <% } %>><%= options[i] %></option>
		<% } %>
	</select>
<% } else if (operandDatatype === "survey:object") { %>
	<% var options = surveyBuilder.OBJECTS %>
	<select name="<%= name %>" class="td-input ui-corner-all object-list <%= name %>">
		<option value=null <% if (!operand) { %> selected="selected" <% } %>></option>
		<% for(var i=0; i < options.length; i += 1) { %>
			<option value="<%= options[i] %>" <% if (operand && operand === options[i]) { %> selected="selected" <% } %>><%= options[i] %></option>
		<% } %>
	</select>
<% } else { %>
	<input class="td-input ui-corner-all <%= name %>" name="<%= name %>" type="text" value="<%= operand %>" />
<% } %>





