<div <%= lineitem %> <% if (lineitem.id) { %> id="<%= lineitem.id %>" <% } %> class="lineitem parent <%= lineitem.type %> ui-corner-all <%= lineitem.subType %>" data-type="<%= lineitem.type %>" data-subType="<%= lineitem.subType %>">
	<span class="handle button hide-in-tabs"><%= lineitem.displayName %></span>
	<span class="ui-icon ui-icon-grip-dotted-vertical show-in-tabs"></span>
	<span class="ui-icon ui-icon-trash show-in-tabs"></span>
	<h5 class="header show-in-tabs toggle"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span><%= lineitem.displayName %></h5>
	<form class="lineitem-form show-in-tabs" onsubmit="return false;">
		<fieldset>
			<input type="hidden" name="displayName" value="<%= lineitem.displayName %>" />
			<input type="hidden" name="type" value="<%= lineitem.type %>" />
			<input type="hidden" name="subType" value="<%= lineitem.subType %>" />
			<input type="hidden" name="parentId" value="<%= lineitem.parentId %>" />
			<input type="hidden" name="parentType" value="<%= lineitem.parentType %>" />
			<div class="clearfix attribute">
				<label title="The Section to branch to" for="">Branch to Section</label>
				<div class="input">
					<select name="branchTarget" class="branchTarget">
						<%== $.View('//surveybuilder/views/logicComponent/show_branchTargets', {lines:Line.findAll(), lineitem:lineitem, parentLine:line}) %>
					</select>
					<% if (lineitem.branchTarget) {%>
						<button class="btn small open-line">open Line</button>
					<% } %>
				</div>
			</div>
		
			<div class="content-group hideable show-in-tabs">
				<h5 class="content-label toggle"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>When:</h5>
				<span class="ui-icon ui-icon-circle-plus quick-add-condition" title="Add a new Condition"></span>
				<div class="conditions content hideable ui-corner-all <% if (lineitem.childId) { %>hideBorder<% } %>">
					<% if (lineitem.childId) {%>
				        <%== $.View('//surveybuilder/views/lineitem/show', {lineitem:lineitem.getChild()}) %>
				    <% } %>
				</div>
			</div>
		</fieldset>
	</form>
</div>

