<div <%= line %> id="<%= line.id %>" class="line parent ui-corner-all">
    <div class="howto <% if (HIDEHOWTO) { %> stay-hidden <% } %>">
        <span class="ui-icon ui-icon-triangle-1-s"></span>Quick Start Guide:
        <ul class="hideable">
        	<% if (Survey.findOne({id:1}).surveyLine === line.about) { %>
        		<li>This is the Main Section of your Survey.  Build up your Survey by dragging and dropping Questions and other Sections from the menus on the left into the "Contents" area below.</li>
        		<li>Sections that are not branched to from this section will not show up in your survey.</li>
        		<li>To create a new Section, click the "create a section" button under the "My Sections" list on the left.</li>
        		<li>To edit a Section, drag and drop it from the "My Sections" list onto the tabs bar above, or select "edit" from the drop down menu next to the Section's name.</li>
        	<% } else { %>
		        <li>Build up this Section by dragging and dropping Questions and other Sections from the menus on the left into the "Contents" area below.</li>
		        <li>You can add this Section to your Survey by clicking on the "My Survey" tab, and then dragging and dropping this Section from the left hand "My Sections" menu onto your Survey.</li>
            <% } %>
        </ul>
    </div>
    <div class="config">
		<span class="ui-icon ui-icon-triangle-1-s"></span>Section Configuration:
		<form class="line-form hideable" onsubmit="return false;">
			<input type="hidden" name="about" value="<%= line.about %>" />
		    <table>
		    	<% if (Survey.findOne({id:1}).surveyLine !== line.about) { %>
				    <tr>
				        <td class="td-label" title="The title for this Section.  This will show up as a header above each question in this Section.">Title:</td>
				        <td class="td-input"><input type="text" name="title" value="<%= line.title %>" class="ui-corner-all"/></td>
				    </tr>
		        <% } %>
		        <tr>
		            <td class="td-label" title="The preferred number of questions you want to render per page.">Questions Per Page:</td>
		            <td class="td-input"><input type="text" name="questionsPerPage" value="<%= line.questionsPerPage %>" class="ui-corner-all"/></td>
		        </tr>
		    </table>
		</form>
	</div>
	<div class="content-label">Contents:</div>
    <div class="empty-message <% if (line.child) { %>stay-hidden<% } %>">To add Sections and Questions to this Section, drag and drop them here </div>
    <div class="content line-items ui-corner-all <% if (line.child) { %>hideBorder<% } %>">
        <% if (line.child) { %>
            <%= $.View('//surveybuilder/views/lineitem/show', {lineitem:Lineitem.findOne({id:line.child}), line:line}) %>
        <% } %>
    </div>
</div>
