<% var isSurveyLine = Survey.findOne({id:1}).surveyLine === line.about %>
<div <%= line %> class="lineitem <% if (!isSurveyLine) { %>branch<% } %> line ui-corner-all" data-line="<%= line.id %>" data-type="LogicComponent" data-subType="Branch">
    <span class="split-button">
	    <span class="drop-down hide-in-tabs">options</span>
		<div class="drop-down-list">
    		<div><a href="#" class="edit-line button" data-line="<%= line.id %>">edit</a></div>
    		<% if (!isSurveyLine) { %>
    			<div><a href="#" class="delete-line button" data-line="<%= line.id %>">delete</a></div>
    		<% } %>
    	</div>
		<span class="handle display-name button hide-in-tabs" href="#" title="<%= line.name %>"><%= line.internalName %></span>
    </span>
    <span class="ui-icon handle ui-icon-grip-dotted-vertical show-in-tabs"></span>
    <span class="ui-icon ui-icon-trash show-in-tabs"></span>
    <div class="header show-in-tabs">Branch to: <span class="display-name"><%= line.title %></span></div>
    <form>
        <input type="hidden" name="type" value="LogicComponent" />
        <input type="hidden" name="subType" value="Branch" />
        <input type="hidden" name="about" value="<%= line.about %>" />
        <input type="hidden" name="displayName" value="<%= line.title %>" />
    </form>
</div>