<% var errors = line.errors() %>
<div <%= line %> id="<%= line.id %>" class="line parent ui-corner-all">
    <div class="howto <% if (HIDEHOWTO) { %> stay-hidden <% } %>">
        <h4 class="toggle quick-start-header"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>Quick Start Guide:</h4>
        <ul class="hideable">
        	<% if (Survey.findOne({id:1}).surveyLine === line.about) { %>
        		<li>This is the Main Section of your Survey.  Build up your Survey by dragging and dropping Questions and other Sections from the menus on the left into the "Contents" area below.</li>
        		<li>Sections that are not branched to from this section will not show up in your survey.</li>
        		<li>To create a new Section, click the "create a section" button under the "My Sections" list on the left.</li>
        		<li>To edit a Section, drag and drop it from the "My Sections" list onto the tabs bar above, or select "edit" from the drop down menu next to the Section's name.</li>
        	<% } else { %>
		        <li>Build up this Section by dragging and dropping Questions and other Sections from the menus on the left into the "Contents" area below.</li>
		        <li>You can add this Section to your Survey by clicking on the "My Survey" tab, and then dragging and dropping this Section from the left hand "My Sections" menu onto your Survey.</li>
            <% } %>
        </ul>
    </div>
    <div class="config">
		<h4 class="toggle config-header"><span class="toggle-indicator ui-icon ui-icon-triangle-1-s"></span>Section Configuration:</h4>
		<form class="line-form hideable" onsubmit="return false;">
			<fieldset>
				<input type="hidden" name="about" value="<%= line.about %>" />
				<% if (Survey.findOne({id:1}).surveyLine !== line.about) { %>
					<%= $.View('//surveybuilder/views/common/textInput', 
						{name:'internalName',
						value:line.internalName, 
						title:'The internal name for this Section.  Not shown to a survey taker.', 
						label:'Name', 
						errors:errors, 
						hideable:true}) %>
				<% } %>
				<div class="clearfix attribute hideable">
					<label for="" title="The title for this Section.  This will show up as a header above each question in this Section.">Title</label>
					<div class="input">
						<input name="title" value="<%= line.title %>" class="xxlarge" size="60" type="text">
					</div>
				</div>
				<div class="clearfix attribute hideable">
					<label for="" title="The preferred number of questions you want to render per page.">Questions Per Page</label>
					<div class="input">
						<input name="questionsPerPage" value="<%= line.questionsPerPage %>" class="xxlarge" size="60" type="text">
					</div>
				</div>
			</<fieldset>
		</form>
	</div>
	<h4 class="content-label">Contents:</h4>
    <div class="empty-message <% if (line.childId) { %>stay-hidden<% } %>">To add Sections and Questions to this Section, drag and drop them here </div>
    <div class="content line-items ui-corner-all <% if (line.childId) { %>hideBorder<% } %>">
        <% if (line.childId) { %>
            <%= $.View('//surveybuilder/views/lineitem/show', {lineitem:Lineitem.findOne({id:line.childId}), line:line}) %>
        <% } %>
    </div>
</div>
