<div <%= lineitem %> <% if (lineitem.id) { %> id="<%= lineitem.id %>" <% } %> class="lineitem <%= lineitem.type %> <%= lineitem.subType %> ui-corner-all" data-type="<%= lineitem.type %>" data-subType="<%= lineitem.subType %>">
    <span class="handle button hide-in-tabs"><%= lineitem.displayName %></span>
    <span class="ui-icon ui-icon-grip-dotted-vertical show-in-tabs"></span>
    <span class="ui-icon ui-icon-trash show-in-tabs"></span>
    <span class="ui-icon ui-icon-copy copy show-in-tabs" title="copy"></span>
    <div class="header show-in-tabs toggle"><span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span><%= lineitem.displayName %></div>
    <form class="lineitem-form show-in-tabs" onsubmit="return false;">
        <input type="hidden" name="displayName" value="<%= lineitem.displayName %>" />
        <input type="hidden" name="type" value="<%= lineitem.type %>" />
        <input type="hidden" name="subType" value="<%= lineitem.subType %>" />
        <input type="hidden" name="parentId" value="<%= lineitem.parentId %>" />
        <input type="hidden" name="parentType" value="<%= lineitem.parentType %>" />
        <table>
            <tr>
                <td class="td-label" title="Text to display for this answer">Answer Text:<span class="marker" title="required">*</span></td>
                <td class="td-input"><textarea name="answerText" class="ui-corner-all"><%= lineitem.answerText %></textarea></td>
            </tr>
            <tr class="hideable">
                <td class="td-label" title="The RDF object for this answer">RDF Answer Object:<span class="marker" title="required">*</span></td>
                <td class="td-input"><input type="text" value="<%= lineitem.answerObject %>" name="answerObject" class="ui-corner-all"/></td>
            </tr>
        </table>
    </form>
</div>
